@use "../variables";

/**
 * Button
 */

.mi-button {
  position: relative;
  padding: 0 30px;
  background: variables.$color-theme;
  color: #ffffff;
  border: 0;
  display: inline-block;
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  height: variables.$input-button-height;
  line-height: variables.$input-button-height;
  transition: variables.$transition;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ffffff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: variables.$transition;
  }

  &:hover {
    color: #ffffff;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:disabled {
    background: variables.$color-body;
    cursor: not-allowed;
  }

  @media #{variables.$layout-mobile-lg} {
    height: variables.$input-button-height - 5;
    line-height: variables.$input-button-height - 5;
  }
}

.mi-read-more {
  position: relative;
  color: variables.$color-theme;
  transition: variables.$transition;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 1px;
    width: 0;
    background: variables.$color-theme;
    transition: variables.$transition;
  }

  &:hover {
    color: variables.$color-theme;

    &::after {
      width: 100%;
    }
  }
}
