@use "../variables";

/**
 * Form Styles
 */

.mi-form {
  &-field {
    margin-top: 30px;
    position: relative;

    label {
      position: absolute;
      left: 15px;
      top: -13px;
      background: variables.$color-bg-body;
      transition: variables.$transition;
      pointer-events: none;
      padding: 0 10px;
      font-size: 0.94rem;
    }

    input,
    textarea {
      border: 1px solid variables.$color-border;
      font-size: 1rem;
    }
  }
}
