@use "sass:color";
@use "../variables";

/**
 * Service
 */

.mi-service {
  border: 1px solid variables.$color-border;
  border-top: 5px solid variables.$color-border;
  padding: 30px;
  background: color.adjust(variables.$color-bg-body, $lightness: 5%);
  transition: variables.$transition;

  &-icon {
    margin-bottom: 20px;
    display: inline-block;
    color: variables.$color-theme;
    font-size: 2.5rem;
  }

  h5 {
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: auto;
      bottom: 0;
      height: 2px;
      width: 50px;
      background: variables.$color-border;
    }
  }

  p {
    margin-bottom: 0;
  }

  &:hover {
    border-top-color: variables.$color-theme;
  }

  @media #{variables.$layout-laptop} {
    padding: 20px;
  }

  @media #{variables.$layout-mobile-sm} {
    padding: 20px;
  }
}
