@use "sass:color";
@use "../mixins";
@use "../variables";

/** @format */

.light {
  *::-webkit-scrollbar-track {
    background-color: #383838;
  }

  *::-webkit-scrollbar {
    background-color: #383838;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
  }

  & {
    color: variables.$light-color-body;
    background: variables.$light-color-bg-body;
  }

  @include mixins.placeholder-color(variables.$light-color-body);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: variables.$light-color-heading;
  }

  ::-moz-selection {
    background: variables.$light-color-theme;
    color: #ffffff;
  }

  ::selection {
    background: variables.$light-color-theme;
    color: #ffffff;
  }

  input,
  button,
  select,
  textarea {
    border-color: variables.$light-color-border;
    color: variables.$light-color-body;
    @include mixins.placeholder-color(variables.$light-color-body);

    &:focus,
    &:active {
      border-color: variables.$light-color-theme;
    }
  }

  blockquote {
    border-color: variables.$light-color-theme;
    background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);

    footer {
      a {
        color: variables.$light-color-theme;

        &:hover {
          color: variables.$light-color-theme;
        }
      }
    }
  }

  .stylish-list {
    i {
      color: variables.$light-color-theme;
    }
  }

  /* Checkbox & Radio Styles */
  input[type="checkbox"],
  input[type="radio"] {
    & ~ label {
      &:before {
        border-color: variables.$light-color-border;
      }
    }

    &:checked {
      & ~ label {
        color: variables.$light-color-theme;

        &:before {
          color: variables.$light-color-theme;
          border-color: variables.$light-color-theme;
        }
      }
    }
  }

  input[type="radio"] {
    & ~ label {
      &::before {
        border: 2px solid variables.$light-color-border;
      }
    }

    &:checked {
      & ~ label {
        &::before {
          color: variables.$light-color-theme;
          border-color: variables.$light-color-theme;
        }
      }
    }
  }

  /**
 * Utilities
 *
 * @format
 */

  .color-theme {
    color: variables.$light-color-theme;
  }

  .mi-bg-lines {
    span {
      background: rgba(variables.$light-color-border, 0.5);
    }
  }

  .light-mode {
    background: rgba(42, 47, 65, 0.4);

    .icon {
      svg {
        fill: #fff;

        & > * {
          fill: #fff;
        }
      }
    }

    &-switch {
      background: variables.$light-color-border;

      &::after {
        background: #ffffff;
      }

      &.active {
        &::after {
          background: variables.$light-color-theme;
        }
      }
    }
  }

  .mi-loader div {
    background: variables.$light-color-theme;
  }

  /**
 * Button
 */

  .mi-button {
    background: variables.$light-color-theme;
    color: #ffffff;

    &::before {
      background: #ffffff;
    }

    &:hover {
      color: #ffffff;
    }

    &:disabled {
      background: variables.$light-color-body;
    }
  }

  .mi-read-more {
    color: variables.$light-color-theme;

    &::after {
      background: variables.$light-color-theme;
    }

    &:hover {
      color: variables.$light-color-theme;
    }
  }

  /*
 * Pagination
 */

  .mi-pagination {
    li {
      a {
        border-color: variables.$light-color-theme;
        color: variables.$light-color-theme;
      }

      &.is-active {
        a {
          background: variables.$light-color-theme;
          color: #ffffff;
        }
      }
    }
  }

  /**
 * Header Styles
 */

  .mi-header {
    background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);
    border-color: variables.$light-color-border;

    &-toggler {
      background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);

      &:focus {
        border-color: variables.$light-color-border;
      }
    }

    &-image {
      border-color: variables.$light-color-border;

      a {
        border-color: variables.$light-color-border;
      }
    }

    &-menu {
      li {
        a {
          color: variables.$light-color-body;

          &::before {
            background: rgba(variables.$light-color-theme, 0.2);
          }

          &:hover {
            color: variables.$light-color-theme;
          }

          &.active {
            color: #ffffff;

            &::before {
              background: variables.$light-color-theme;
            }
          }
        }
      }
    }

    &-copyright {
      border-color: variables.$light-color-border;

      a {
        color: variables.$light-color-body;

        &:hover {
          color: variables.$light-color-theme;
        }
      }
    }
  }

  /*
 * Social Icons
 */

  .mi-social-icons {
    li {
      a {
        color: variables.$light-color-body;

        svg {
          fill: variables.$light-color-body;
        }

        &:hover {
          color: variables.$light-color-theme;

          svg path {
            fill: variables.$light-color-theme;
          }
        }
      }
    }

    &-bordered {
      li {
        a {
          border-color: variables.$light-color-border;

          &:hover {
            border-color: variables.$light-color-theme;
          }
        }
      }
    }
  }

  /*
 * Title 
 */

  .mi-section-title {
    span {
      color: rgba(215, 220, 230, 0.44);
    }

    h2 {
      &::before {
        background: rgba(variables.$light-color-theme, 0.3);
      }

      &::after {
        background: variables.$light-color-theme;
      }
    }
  }

  .mi-small-title {
    &-icon {
      color: variables.$light-color-body;
    }
  }

  /*
 * Progress Bar
 */

  .mi-progress {
    &-container {
      background: variables.$light-color-border;
    }

    &-active {
      background: variables.$light-color-theme;
    }
  }

  /**
 * Service
 */

  .mi-service {
    border-color: variables.$light-color-border;
    background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);

    &-icon {
      color: variables.$light-color-theme;
    }

    h5 {
      &::before {
        background: variables.$light-color-border;
      }
    }

    &:hover {
      border-top-color: variables.$light-color-theme;
    }
  }

  /*
 * Portfolio
 */

  .mi-portfolio {
    &-image {
      &::before {
        background: rgba(#ffffff, 0.9);
      }

      ul {
        li {
          a,
          button {
            background: variables.$light-color-body;
            color: #ffffff;
            border: 1px solid variables.$light-color-body;

            &:hover {
              background: variables.$light-color-theme;
              border-color: variables.$light-color-theme;
            }
          }
        }
      }
    }

    h5 {
      color: variables.$light-color-heading;

      a {
        color: variables.$light-color-heading;

        &:hover {
          color: variables.$light-color-theme;
        }
      }
    }

    h6 {
      color: variables.$light-color-body;
    }
  }

  /*
 * Resume 
 */

  .mi-resume {
    &-wrapper {
      border-color: variables.$light-color-border;
    }

    &-summary {
      &::before {
        background: variables.$light-color-bg-body;
        border-color: variables.$light-color-border;
      }
    }

    &-year {
      color: variables.$light-color-body;
    }

    &-company {
      color: variables.$light-color-heading;
    }

    &-details {
      &::before {
        background: variables.$light-color-border;
      }

      h5 {
        color: variables.$light-color-theme;
      }
    }
  }

  /**
 * Service
 */

  .mi-testimonial {
    &-content {
      border-color: variables.$light-color-border;
      background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);

      &::after {
        border-color: color.adjust(variables.$light-color-bg-body, $lightness: -5%) transparent transparent
          color.adjust(variables.$light-color-bg-body, $lightness: -5%);
      }
    }

    &-author {
      h6 {
        color: variables.$light-color-body;
      }
    }
  }

  /**
 * Form Styles
 */

  .mi-form {
    &-field {
      label {
        background: variables.$light-color-bg-body;
      }

      input,
      textarea {
        border-color: variables.$light-color-border;
      }
    }
  }

  /**
 * Blog Styles
 */

  .mi-blog {
    background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);

    &-date {
      background: rgba(variables.$light-color-theme, 0.8);
      color: #ffffff;
    }

    &-content {
      h5 {
        a {
          color: variables.$light-color-heading;

          &:hover {
            color: variables.$light-color-theme;
          }
        }
      }
    }
  }

  .notfound {
    &-inner {
      background: color.adjust(variables.$light-color-bg-body, $lightness: -5%);
    }

    h1 {
      color: #fd7171;
    }
  }

  /*
 * About Styles
 */

  .mi-about {
    &-image {
      &::before {
        background: rgba(variables.$light-color-theme, 0.6);
      }

      &::after {
        background: rgba(variables.$light-color-theme, 0.6);
      }

      &-icon {
        color: #ffffff;
      }
    }
  }

  /**
 * Contact
 */

  .mi-contact {
    &-info-block {
      background: rgba(color.adjust(variables.$light-color-bg-body, $lightness: -5%), 1);

      &-icon {
        border-color: variables.$light-color-border;
      }

      &-content {
        p {
          a {
            color: variables.$light-color-body;

            &:hover {
              color: variables.$light-color-theme;
            }
          }
        }
      }
    }
  }
}
